html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  scroll-behavior: smooth;
  overflow-y: auto;
}

//FONTS

@font-face {
  font-family: light;
  src: url(../fonts/Sansation_Light.ttf);
}

@font-face {
  font-family: light1;
  src: url(../fonts/Brawler.otf);
}

// HEADER
.Home.active {
  display: none;
}
.Home {
  display: flex;
  width: 70%;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  .cubes {
    position: absolute;
    left: -36%;
    top: 37%;
    z-index: -1;
  }
}
header {
  width: 100%;
  height: 100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  border-bottom: 2px solid #ecab31;
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 100px;
  }
  .nav {
    width: 400px;
    height: 100px;
    display: flex;
    nav {
      display: flex;
      ul {
        display: flex;
        align-items: center;
        justify-content: center;
        li {
          list-style-type: none;
          a {
            text-decoration: none;
            color: white;
            margin: 10px;
            font-family: light;
            font-size: 18px;
            transition: 0.5s;
            &:hover {
              color: #ecab31;
            }
          }
        }
      }
    }
  }
}
.main_home {
  width: 100%;
  height: 800px;
  display: flex;
  flex-direction: column;
  .wrapper_main {
    display: flex;
    height: 100%;
    width: 100%;
    .left {
      width: 55%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      height: 81%;
      .degree {
        p {
          color: white;
          font-family: light;
        }
      }
      h1 {
        font-family: light1;
        width: 100%;
        font-size: 114px;
        line-height: 156px;
        color: white;
      }
    }
    .right {
      width: 45%;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      height: 100%;
      img {
        width: 83%;
        height: auto;
      }
    }
  }
}

//  SERVICES

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100vh;
  .background1 {
    position: absolute;
    width: 71% !important;
    height: 95% !important;
    right: 0 !important;
    border-bottom-left-radius: 100% !important;
    border-top-left-radius: 100% !important;
  }
  .top_of_services {
    display: flex;
    width: 70%;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    p {
      font-size: 84px;
      color: white;
      font-family: light;
      letter-spacing: 10px;
    }
    .line {
      width: 40%;
      height: 1px;
      margin-top: 10px;
      background-color: #31ec38;
    }
  }
  .services_wrapper {
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .left_sight {
      width: 50%;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: auto;
        height: auto;
      }
    }
    .right_sight {
      width: 50%;
      height: 100%;
      flex-direction: column;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .block {
        width: 70%;
        height: 300px;
        display: flex;
        align-items: flex-end;
        margin-right: 10px;
        justify-content: flex-start;
        color: white;
        flex-direction: column;
        text-align: right;
        .top_block {
          font-size: 25px;
          font-family: light;
          position: relative;
          font-weight: bold;
          margin-bottom: 30px;
          &::after {
            content: "";
            position: absolute;
            width: 30px;
            height: 1px;
            background-color: green;
            transform: rotate(90deg);
            top: 50%;
          }
        }
      }
      ul {
        width: 400px;
        height: 160px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-around;
        li {
          list-style-type: none;
          font-family: light;
          position: relative;
          margin-right: 20px;
          font-size: 18px;
          &::after {
            content: "";
            position: absolute;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: green;
            transform: rotate(90deg);
            top: 10%;
            right: -30px;
          }
        }
      }
    }
  }
}

// PORTFOLIO

.portfolio {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: black;
  .top_of_portfolio {
    display: flex;
    width: 70%;
    padding: 20px;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    p {
      font-size: 84px;
      color: white;
      font-family: light;
      letter-spacing: 10px;
    }
    .line {
      width: 44%;
      height: 1px;
      margin-top: 10px;
      background-color: red;
    }
  }

  .container {
    width: 99vw;
    height: 80%;
    overflow: hidden;
    position: relative;
  }

  .slider-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
  }

  .slider-container:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(45deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.7));
  }

  .slider-container > div {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }

  .slider-container > div > div {
    overflow: hidden;
    box-shadow: 2px 0px 67px -27px white;
    border-radius: 16px;
  }

  .slider {
    width: 800px;
    display: grid;
    grid-template-columns: repeat(7, 100%);
    height: 450px;
  }

  .img {
    position: relative;
    overflow: hidden;
  }

  .img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }

  .content {
    position: absolute;
    z-index: 4;
    width: 70%;
    height: 450px;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  .btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 1rem 1.2rem;
    border-radius: 50%;
    background: white;
    border: none;
    color: black;
    outline: none;
    cursor: pointer;
    opacity: 0.5;
    transition: 0.3s;
  }

  .btn:hover {
    opacity: 0.8;
    color: red;
  }

  #prev {
    left: 5%;
  }

  #next {
    right: 5%;
  }

  .link {
    position: absolute;
    z-index: 4;
    left: 47%;
    top: 105%;
    display: flex;
    width: 100px;
    align-items: center;
    height: 30px;
    border: 1px solid red;
    text-align: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    font-family: sans-serif;
  }

  ul {
    position: absolute;
    list-style: none;
    display: flex;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
  }

  ul li {
    margin: 0.3rem;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 2.5px solid #2ecc71;
    cursor: pointer;
  }

  ul li.colored {
    background-color: #2ecc71;
  }
}

// CONTACT

.contact {
  width: 80%;
  height: 73vh;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
  display: flex;
  .name_of_contact {
    width: 100px;
    background: white;
    margin-left: 10%;
    height: 90%;
    display: flex;
    margin: auto 0;
    align-items: center;
    justify-content: center;
    p {
      font-size: 80px;
      font-family: light;
      color: black;
      transform: rotate(-90deg);
    }
  }
  .contacts {
    width: 80%;
    height: auto;
    .top_of_contacts {
      width: 900px;
      height: 600px;
      margin-left: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      .top_contacts {
        width: 98%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100px;
        input {
          width: 42%;
          height: 30px;
          background-color: transparent;
          padding: 10px;
          color: white;
          border: none;
          outline: none;
          border-bottom-width: 30px;
          border-bottom: 1px solid white;
        }
      }
      .main_contacts {
        display: flex;
        margin-top: 100px;
        width: 98%;
        justify-content: space-between;
        height: 300px;
        color: white;
        .left_contact {
          width: 50%;
          display: flex;
          flex-direction: column;
          align-items: space-around;
          justify-content: flex-start;
          input {
            width: 80%;
            color: white;
            cursor: pointer;
            cursor: pointer;
            height: 30px;
            font-family: light;
            background: transparent;
            padding: 10px;
            border: none;
            outline: none;
            border-bottom: 1px solid white;
          }
          textarea {
            width: 80%;
            height: 170px;
            outline: none;
            color: white;
            font-family: light;
            margin-top: 10px;
            cursor: pointer;
            max-width: 310px;
            max-height: 170px;
            padding: 10px;
            background: transparent;
            border: 1px solid white;
          }
        }
        .right_contact {
          width: 45%;
          display: flex;
          flex-direction: column;
          ul {
            display: flex;
            flex-direction: column;
            height: 150px;
            margin-top: 10px;
            li {
              list-style-type: none;
              font-size: 18px;
              margin-top: 25px;
              font-family: light;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1629px) {
  .main_home {
    .wrapper_main {
      .right {
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          margin-top: 150px;
        }
      }
    }
  }
  .portfolio .container {
    width: 90vw;
  }
  .portfolio {
    .content {
      width: 84%;
    }
  }
  .main_home .wrapper_main .left h1 {
    font-size: 101px;
  }
}

@media screen and (max-width: 1470px) {
  .contact .contacts {
    width: 88%;
    height: 95vh;
  }
}

@media screen and (max-width: 1333px) {
  .contact {
    width: 83%;
    .top_of_contacts {
      margin-left: 20px;
    }
  }
  .main_home .wrapper_main .left h1 {
    font-size: 91px;
  }
}

@media screen and (max-width: 1169px) {
  .services .background1 {
    position: absolute;
    width: 94% !important;
    height: 95% !important;
    right: 84px !important;
    border-bottom-left-radius: 100% !important;
    border-top-left-radius: 100% !important;
  }
  .portfolio #prev {
    left: 0%;
  }
  .portfolio #next {
    right: 0%;
  }
  .portfolio .top_of_portfolio {
    width: 90%;
  }
  .services {
    .services_wrapper {
      width: 100%;
    }
    .top_of_services {
      width: 86%;
    }
  }
  .main_home .wrapper_main .left h1 {
    font-size: 81px;
  }
  .main_home .wrapper_main .right img {
    width: 96%;
    height: auto;
  }
  .services .services_wrapper .left_sight img {
    width: 470px;
    height: auto;
  }
  .portfolio .content {
    width: 100%;
  }
  .contact .contacts .top_of_contacts {
    width: 800px;
    display: flex;
    justify-content: space-around;
  }
  .contact {
    width: 95%;
  }
  .Home .cubes {
    left: -44%;
  }
}

@media screen and (max-width: 970px) {
  .contact .contacts .top_of_contacts .top_contacts {
    width: 98%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100px;
    justify-items: flex-start;
  }
  .contact .contacts .top_of_contacts .main_contacts .left_contact input {
    width: 88%;
  }
  .contact .contacts .top_of_contacts .main_contacts .left_contact textarea {
    width: 88%;
    max-width: 400px;
  }
  .contact .contacts .top_of_contacts {
    width: 633px;
  }
  .portfolio #prev {
    left: 1%;
    top: 50%;
  }
  .portfolio #next {
    right: 1%;
    top: 50%;
  }
  .main_home .wrapper_main .left h1 {
    font-size: 73px;
  }
  .main_home .wrapper_main .right {
    overflow: hidden;
  }
}

@media screen and (max-width: 900px) {
  .main_home .wrapper_main {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .left {
      width: 100%;
      h1 {
        font-size: 108px;
      }
    }
    .right {
      width: 100%;
      align-items: flex-start;
      justify-content: flex-start;
      img {
        width: 70%;
        margin-top: 0px;
      }
    }
  }
  .contact .contacts .top_of_contacts .top_contacts {
    flex-direction: column;
    input {
      width: 70%;
    }
  }
  .contact .contacts .top_of_contacts {
    display: flex;
    width: 633px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .contact .contacts .top_of_contacts .main_contacts {
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
    input {
      width: 70%;
    }
  }
  .contact .contacts .top_of_contacts .main_contacts .left_contact {
    width: 70%;
    align-items: center;
    input {
      width: 100%;
    }
    textarea {
      max-width: 450px;
      width: 100%;
    }
  }
  .contact .contacts .top_of_contacts .main_contacts .right_contact {
    width: 73%;
  }
  .contact .contacts .top_of_contacts {
    width: 450px;
  }
}

@media screen and (max-width: 780px) {
  .Home .cubes {
    left: -54%;
  }
}

@media screen and (max-width: 670px) {
  .main_home .wrapper_main .left h1 {
    font-size: 87px;
  }
  header .nav nav ul li a {
    font-size: 15px;
  }
  header .logo {
    width: 95px;
  }
  .services .top_of_services p {
    font-size: 70px;
  }
  .portfolio .top_of_portfolio p {
    font-size: 70px;
  }
  .portfolio .slider {
    width: 400px;
    height: 250px;
  }
  .portfolio .link {
    left: 41%;
    top: 83%;
  }
}

@media screen and (max-width: 635px) {
  .Home .cubes {
    left: -67%;
  }
  .main_home .wrapper_main .left h1 {
    font-size: 70px;
    line-height: 112px;
  }
  .services .services_wrapper .left_sight img {
    width: 350px;
  }
  .services .services_wrapper .right_sight ul li {
    font-size: 16px;
  }
  .services .top_of_services .line {
    width: 85%;
  }
  .portfolio .top_of_portfolio .line {
    width: 85%;
  }
}

@media screen and (max-width: 620px) {
  .contact .contacts .top_of_contacts .top_contacts input {
    width: 50%;
  }
  .contact .contacts .top_of_contacts .main_contacts .left_contact input {
    width: 73%;
  }
  .contact .contacts .top_of_contacts .main_contacts .left_contact textarea {
    width: 71%;
  }
  .contact .contacts .top_of_contacts .main_contacts .right_contact {
    width: 57%;
  }
  .portfolio .top_of_portfolio p {
    font-size: 45px;
  }
  .services .top_of_services p {
    font-style: 45px;
  }
  .contact .contacts .top_of_contacts {
    width: 320px;
  }
}

@media screen and (max-width: 500px) {
  .Home {
    width: 89%;
  }
  .main_home .wrapper_main .right img {
    margin-left: 20px;
  }
  .Home .cubes {
    left: -49%;
  }
  .main_home .wrapper_main .left {
    margin-left: 73px;
  }
  .contact .contacts .top_of_contacts .top_contacts input {
    width: 60%;
  }
  .contact .contacts .top_of_contacts .main_contacts .left_contact input {
    width: 90%;
  }
  .contact .contacts .top_of_contacts .main_contacts .left_contact textarea {
    width: 90%;
  }
  .contact .contacts .top_of_contacts .main_contacts .right_contact {
    width: 100%;
  }
  .contact .contacts .top_of_contacts .main_contacts .right_contact ul li {
    font-size: 15px;
    margin-top: 25px;
    margin-left: 30px;
  }
}

@media screen and (max-width: 450px) {
  .main_home .wrapper_main .right img {
    margin-left: 16px;
    width: 54%;
    margin-top: -33px;
  }
  .Home .cubes {
    left: -54%;
    top: 25%;
  }
  .main_home .wrapper_main .left h1 {
    font-size: 70px;
    line-height: 112px;
  }
  header .nav nav ul li a {
    font-size: 14px;
  }
  .services .top_of_services p {
    font-size: 50px;
  }
  .services .background1 {
    position: absolute;
    width: 114% !important;
    height: 76% !important;
    right: 300px !important;
    /* border-bottom-left-radius: 100% !important; */
    /* border-top-left-radius: 100% !important; */
  }
  .portfolio .slider-container {
    height: 75%;
  }
  .portfolio .content {
    top: 35%;
  }
}

@media screen and (max-width: 444px) {
  .Home {
    width: 94%;
  }
  .main_home .wrapper_main .left {
    margin-left: 59px;
  }
  .portfolio .top_of_portfolio {
    align-items: center;
    width: 90%;
  }
  .portfolio .top_of_portfolio .line {
    width: 98%;
  }
  .main_home .wrapper_main .left h1 {
    font-size: 56px;
  }
  .portfolio {
    height: 67vh;
  }
}

@media screen and (max-width: 400px) {
  .Home .cubes {
    left: -60%;
  }
  .main_home .wrapper_main .right {
    justify-content: flex-end;
  }
  .main_home .wrapper_main .left h1 {
    font-size: 57px;
  }
  .degree {
    font-size: 14px;
  }
}

@media screen and (max-width: 376px) {
  .Home .cubes {
    left: -65%;
  }
  .main_home .wrapper_main .left h1 {
    font-size: 48px;
    line-height: 89px;
  }
  .services .top_of_services p {
    font-style: 36px;
  }
  header .nav nav ul li a {
    font-size: 11px;
  }
  .portfolio .top_of_portfolio p {
    font-size: 35px;
  }
  .contact .name_of_contact p {
    font-size: 50px;
  }
  .contact .name_of_contact {
    width: 79px;
  }
  .contact .contacts .top_of_contacts {
    width: 243px;
  }
  .contact .contacts .top_of_contacts .main_contacts .right_contact ul li {
    font-size: 15px;
  }
}

@media screen and (max-width: 320px) {
  .Home .cubes {
    left: -74%;
  }
  .main_home .wrapper_main .left {
    margin-left: 48px;
  }
  .services .top_of_services {
    width: 110%;
  }
  .services .background1 {
    position: absolute;
    width: 146% !important;
    height: 99% !important;
    right: 0px !important;
  }
}
